# Python
__pycache__/
*.pyc

# virtual environments
venv/
.venv/
J-AMFVENV/

# data, models, logs etc
datasets/
models/
checkpoints/
logs/
runs/
wandb/
outputs/
results/
results_homo_maf/
results_homo_rbig/
results_homo_realNVP/
real_data/data
real_data/results
*.pt
*.pth
*.h5
*.npz

