# Python
__pycache__/
*.pyc

# virtual environments
venv/
.venv/
J-AMFVENV/

# data, models, logs etc
datasets/
data_ucl/
models/
checkpoints/
logs/
runs/
wandb/
outputs/
results/
results_train_test_100K/
results_train_test_500K/
results_train_val_test/
results_train_val_test_500K/
results_train_val_test_100K/
results_train_val_test_train_test_1M
real_data/data/
real_data/results/
real_data/flows/data/
real_data/flows/realnvp/data/
real_data/flows/maf/data/
*.tar.gz
*.gz
*.pt
*.pth
*.h5
*.npz

